<h2 class="text-center my-4">Relatorios</h2>
<div class="btn-group justify-content-center d-flex" role="group" aria-label="Basic example">
  <button type="button" class="btn  btn-outline-primary" (click)="changeOption('exp-alunos')">Experiencia dos
    Alunos</button>
  <button type="button" class="btn  btn-outline-primary" (click)="changeOption('part-alunos')">Participação dos
    Alunos</button>
  <button type="button" class="btn  btn-outline-primary" (click)="changeOption('notas')">Notas</button>
  <button type="button" class="btn  btn-outline-primary" (click)="changeOption('post-professor')">Postagens por
    Professor</button>
</div>


<section *ngIf="option==='exp-alunos'" class="my-5 px-3 d-flex justify-content-center flex-column">
  <p class="text-center">Relatorio De Experiencia dos alunos nas atividades de cada materia, visa ver qual materia vem
    enfrentando mais
    reclamações e poder alinhar com os professores para mudar o que precisar para melhorar e experiencia dos alunos</p>
  <button type="button" class="btn btn-outline-success" (click)="gerarRelatorioDeFeedback()">Gerar</button>
</section>

<section *ngIf="option==='part-alunos'" class="my-5 px-3 d-flex justify-content-center flex-column">
  <p class="text-center">Relatorio De Participação dos alunos nas atividades de cada materia, visa ver qual a
    porcentagem de realização de atividades de cada aluno, assim de forma a poder cobrar a maior participação de alunos
    especificos.</p>
  <button type="button" class="btn btn-outline-success" (click)="gerarRelatorioDeParticipacaoAlunos()">Gerar</button>
</section>

<section>

</section>

<section>

</section>
