button {
  border: 0;
  background-color: white;
  padding: 1rem 0;
}

button.active {
  background-color: rgba(231, 231, 231, 0.662);
  border-bottom: 3px solid blue;
}
#nota {
  font-weight: bold;
  font-size: 1rem;
}
#nota.lowGrade {
  color: red;
}
#nota.highGrade {
  color: green;
}
