<h1 mat-dialog-title class="text-center">Avaliar Resposta:</h1>
<form [formGroup]="avaliacaoForm" class="d-flex flex-column justify-content-center p-2 gap-2">
  <div>
    <div>
      <div>
        <h5>Enunciado:</h5>
        <p>{{data.resposta.enunciado}}</p>
      </div>
      <div *ngIf="data.resposta.tipoDeAtividade == 'MULTIPLA_ESCOLHA'">
        <h5>Opções:</h5>
        <p>{{data.resposta.questoes}}</p>
      </div>
      <h5>Resposta do Aluno:</h5>
      <p class=" fw-bold" [class.text-danger]="data.resposta.resposta!=data.resposta.respostaCerta"
        [class.text-success]="data.resposta.resposta==data.resposta.respostaCerta">{{data.resposta.resposta}}</p>
    </div>
    <div *ngIf="data.resposta.respostaCerta">
      <h5>Resposta Certa:</h5>
      <p class="text-success fw-bold">{{data.resposta.respostaCerta}}</p>
    </div>
  </div>
  <div class="d-flex flex-wrap justify-content-center px-5">
    <mat-form-field>
      <mat-label>Nota:</mat-label>
      <input matInput formControlName="nota" placeholder="Nota" type="number">
      <mat-error *ngIf="avaliacaoForm.get('nota')?.errors?.['required']">Nota Obrigatória!</mat-error>
      <mat-error *ngIf="avaliacaoForm.get('nota')?.errors?.['notaValid']">Nota de valor Invalido!</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button (click)="enviaUpdate()" cdkFocusInitial>Enviar</button>
  </div>
</form>