<section class="d-flex flex-wrap justify-content-around gap-5">

  <mat-card class="example-card" *ngFor="let feedback of FeedbacksLista">
    <mat-card-header>
      <mat-card-title>{{feedback.usuario}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="experiencia">{{feedback.experiencia}}</p>
      <p class="opiniao">{{feedback.opiniao}}</p>
      <mat-divider></mat-divider>
      <div class="example-button-container">
        <button mat-mini-fab color="warn" (click)="removeFeedback(feedback.idFeedback)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</section>