<section class="py-4 mx-2 h-100" *ngIf="!mensagemErro">
  <div class="d-flex row  gap-2 mx-2">
    <div class="col-12" *ngFor="let nota of listaDeNotas">
      <div class="d-flex justify-content-between flex-wrap border border-1 rounded border-black contuedo">
        <div class="d-flex gap-1">
          <label class="fw-bold" for="login">Titulo: </label>
          <p id="login">{{nota.titulo}}</p>
        </div>
        <div class="d-flex gap-1">
          <label class="fw-bold" for="tipoUser">Materia: </label>
          <p id="tipoUser"> {{nota.materia}}</p>
        </div>
        <div class="d-flex gap-1">
          <label class="fw-bold" for="motivo">Avaliador: </label>
          <p id="motivo">{{nota.professor}}</p>
        </div>
        <div class="d-flex gap-1">
          <label class="fw-bold" for="motivo">Aluno: </label>
          <p id="motivo">{{nota.aluno}}</p>
        </div>
        <div class="d-flex gap-1">
          <label class="fw-bold" for="motivo">Nota: </label>
          <p class="fw-bold" id="motivo" [class.text-success]="nota.nota >= 7" [class.text-danger]="nota.nota < 7">
            {{nota.nota}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="d-flex h-100 pb-5  flex-column justify-content-center align-content-center gap-3 text-center align-content-center align-items-center erro-sem-cont"
  *ngIf="mensagemErro">
  <mat-icon matPrefix>
    folder_off
  </mat-icon>
  <mat-error>{{mensagemErro}}</mat-error>
</section>