<header class="d-flex justify-content-around ">
  <div class="conteudo-logo">
    <a class="text-center logo-font"><img class="logo" src="../../../assets/graduation-cap.png" alt=""
        routerLink="/main">
      EducaPlus</a>
  </div>
  <div class="d-flex justify-content-center gap-md-3 gap-lg-5 gap-sm-2" *ngIf="loginPage">
    <div class="d-flex pt-2">
      <div class="d-flex align-items-center flex-column">
        <p class="pt-2 text-center">{{userName}} <br> <strong>{{status}}</strong>
          <br>
          <strong *ngIf="materiaDoProfessor!=null">{{materiaDoProfessor}}</strong>
        </p>
      </div>
      <a [routerLink]="['/perfil/user']" class="text-black"><i class="bi bi-person"></i></a>
    </div>
    <a class="pt-2 text-black" (click)="logout()"><i class="bi bi-box-arrow-right logo-logout"></i></a>
  </div>
</header>
<nav class="nav-content" *ngIf="loginPage">
  <ul class="lista-nav">
    <li>
      <button [routerLink]="['/cont-extra']" class="botao-nav ">Conteúdo Extra</button>
    </li>
    <li>
      <button [routerLink]="['/atividades']" class="botao-nav ">Atividades</button>
    </li>
    <li>
      <button class="botao-nav " [routerLink]="['/notas']">Notas</button>
    </li>
    <li>
      <button [routerLink]="['/adminstracao']" class="botao-nav "
        *ngIf="status === 'Admin' || status==='Professor'">Administração</button>
    </li>
    <li>
      <button [routerLink]="['/postar-avaliar']" class="botao-nav "
        *ngIf="status === 'Admin' || status==='Professor'">Postar/Avaliar</button>
    </li>
  </ul>
</nav>